* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

:root {
	--grass-color: #7ec850;
	--iron-color: #a19d94;
	--copper-color: #b87333;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
}

#window {
	display: grid;
	grid-template: repeat(var(--grid-size), var(--square-size)) / repeat(var(--grid-size), var(--square-size));
	gap: 1px;
}

.cell {
	display: grid;
	place-items: center;
	padding: 1rem;
	outline: 1px solid black;
}

.iron {
	background: var(--iron-color);
}

.copper {
	background: var(--copper-color);
}

.grass {
	background: var(--grass-color);
}

#resource-type-popup {
	position: absolute;
	width: 150px;
	height: 40px;
	background: grey;
	border-radius: 16px;
	outline: 3px solid black;
	top: 1%;
	display: none;
	justify-content: center;
	align-items: center;
	color: white;
}

button#play-turn {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	bottom: 15px;
	right: 15px;
	color: grey;
	font-size: 50px;
}

button#play-turn:hover {
	color: black;
}

#build-menu {
	position: absolute;
	/* always on top */
	z-index: 1000000;
	width: 80vw;
	height: 80vh;
	display: none;
	/* display: grid; */
	background: #4a4a4a;
	border-radius: 32px;
	padding: 16px;
	grid-template: repeat(5, 64px) / repeat(5, 64px);
	overflow: scroll;
	gap: 8px;
}

#build-menu > .build-item {
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

button#build-menu-button {
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	bottom: 15px;
	left: 15px;
	font-size: 50px;
}
